h1{
    color: rgb(8, 8, 8);
  font-size: 70px;
  font-family: cursive;
	text-align: center;
  margin-right: 50px;
  margin-top: 0px;
}
.buttons{
    margin-top: 10em;
    width: 100em;
}
.divider{
    width:10em;
    height:auto;
    display:inline-block;
}
.live{
    width: 10em;
    text-decoration: none;
	color: #fff;
    border-radius: 12px;
    background-color: black;
    padding: 5px 20px;
	border: 1px solid transparent;
  transition: 0.6s ease;
  position: relative;
  margin-top: 15%;
  height: 50px;
  
}
.live:hover{
	background-color: #fff;
	color: #000;
}

.main{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./bb.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}