.h1{
  color: rgb(8, 8, 8);
  font-size: 120px;
  font-family: cursive;
	text-align: center;
  margin-right: 50px;
  margin-top: 0px;

}

/* .button1{
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 10%;
  border-color: rgb(3, 3, 3);
  padding: 2%;
  font-family:cursive;
  font-size: cursive;
  font-weight: bolder;
  font-size: 100%;
  background-color: rgb(8, 8, 8);
}

.button2{
  border-radius: 10%;
  border-color: rgb(42, 158, 51);
  padding: 2%;
  font-family:cursive;
  font-size: cursive;
  font-weight: bolder;
  font-size: 100%;
  background-color: rgb(42, 158, 51);
} */
/* .box{
  background:white;
  width:400px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  padding:0px 0px 70px 0px;
  border: #525252 1px transparent; 
  position: absolute;
  top: 36%;
  left: 37%;
  height: 185px;
} */
.back{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./bb.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}


.bt{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
  transition: 0.6s ease;
  position: relative;
  margin-left: 45%;
}

.bt:hover{
	background-color: #fff;
	color: #000;
}
