.header{
    background-color: aqua;
    color: black;
    text-align: center;
    font-size:x-large;
    width: auto;
    height: 10em;
    line-height: 250px;
}
.buttons{
    margin-top: 10em;
    width: 100em;
}
.divider{
    width:10em;
    height:auto;
    display:inline-block;
}
.live{
    width: 10em;
    border-radius: 12px;
}
.footer{
    margin-top: 15em;
    background-color: aqua;
    width: auto;
    height: 2em;   
}