
.options{
    margin-top: 10px;
    margin-right: auto;
}
.cardButton{
    margin-left: 300px;
    width: 200px;
}
.card{
    background-color: lightslategrey;
    margin-top: 200px;
    width: 800px;
    margin-left: 280px;
}

.teacherPage{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./bb.jpg);
    height: auto;
    background-size: cover;
    background-position: center;
    position: relative;
}
h1{
    text-align:center;
    font-family: cursive;
    font-size: 30px;
}
.but{
    margin-left: 400px;
    margin-top: 80px;
}